.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.rightItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.rightitem {
  margin-left: 10%;
}
