.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
