.Button {
  border-radius: 50%;
  width: 100%;
}
.buttonStyle {
  padding: 10px 15px;
  border-radius: 12px;
  border: grey solid 0.5px;
  cursor: pointer;
}

.buttonStyle:hover {
  box-shadow: 0px 2px 5px #888888;
}
